<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dropdead</title>
</head>

<body>
<!-- HEADER SECTION -->
  <header>
    <nav>
        <a href="../../index.html">
          <img src="../images/dropdead2.png" alt="Dropdead Logo" width="200px">
        </a>

      <div>
        <ul>
          <li>
            <a href="../views/clothing.html">Clothing</a>
          </li>
          <li>
            <a href="../views/accessories.html">
              Accessories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Jewelry</a>
              <a class="dropdown-item" href="#">Belts</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Gift cards</a>
            </div>
          </li>
          <li>
            <a href="../views/collections.html">Collections</a>
          </li>
          <li class="nav-item active">
            <a href="../views/contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- MAIN SECTION -->
  <main>
    <section>
      <div class="video">
        <iframe class="nomad" width="560" height="315" src="https://www.youtube.com/embed/TSd0ZqIeHyU"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </section>
  </main>
  <footer>
    <!-- FOOTER -->
    <!-- SOCIAL MEDIA LINKS -->
    <div class="social">
      <a href="https://www.facebook.com/DROPDEADOFFICIAL/" target="blank">
        <img src="../images/facebook2.png" alt="Facebook" height="20px">
      </a>
      <a href="https://www.instagram.com/dropdeadofficial/?hl=en" target="blank">
        <img src="../images/instagram2.png" alt="Instagram" height="20px">
      </a>
      <a href="https://twitter.com/DropDeadUK?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="blank">
        <img src="../images/twitter2.png" alt="Twitter" height="20px">
      </a>
    </div>
    <div class="brand">
      <p>Dropdead ©</p>
    </div>
  </footer>
</body>

</html>